# Node modules
node_modules/

# Build folders
android
ios

# React Native specific
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific files
.DS_Store
Thumbs.db

# Expo
.expo/
.expo-shared/

# Temporary or backup files
*.swp
*.swo
*~
.idea/

# Dependency directories
ios/Pods/
ios/Podfile.lock

# Android Studio/IntelliJ IDEA specific files
.idea/
*.iml

# Xcode specific files
xcuserdata/

# Coverage output
coverage/

# Temporary files
*.tmp
*.bak
*.swp
